body, html {
  min-height: 100%;
  height: auto;
}

a{
  color: #2a73a8;
}

body{
  background: url('img/body_bottom_background.jpg') repeat-x 0 100%;
  background-color: #313d54;
}

/*owerwrite Bootstrap style for .row remove margins*/
.row {
margin-right: auto;
margin-left: auto;
}
#wrap{
  min-height: 100%;
  height: 100%;
  min-width: 995px;
  max-width: 1260px;
  margin: 0 auto -28px;
  /*padding: 0 0 188px;*/
  background-color: #ffffff;
}
#top-banner{
  width: 99%;
  height: 152px;
  background-color: gray;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #51658d;
  margin-bottom: 5px;
  overflow: hidden;
}

#top-banner img{
  width: 100%;
}
#sidebar-left{
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 0;
  background: url('img/sidebar-left_background.jpg') repeat-x 0 100% #f3f3f3;
}

#main {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

#main article{
  border-radius: 5px;
  padding: 10px;
  padding-top: 0;
  border: 1px solid #e9e9e9;
}

#main article h1{
  color:#2a73a8;
  text-transform: uppercase;
}

header{
  padding-top: 5px;
  background-color: #fdfdfd;
}
.info{
  padding-top: 10px;
  background: url('img/header_info_background.jpg') repeat-x 0 0 #fdfdfd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.info > div {
  height: 80px;
  background: url('img/header_item_border.png') no-repeat 0 50%;
}
.info > div:first-child {
  background: none;
}
.info .logo-plus img{
  margin-top: 20px;
}

.contact-info .tel{
  text-align: center;
  margin-top: 15px;
  font-size: 200%;
  font-weight: bold;
  color: #51658d;
}
.contact-info .tel span{
  font-size: 80%;
  font-weight: lighter;
}

#top-navigation{
  height: 32px;
  background: url('img/nav_background.jpg') repeat-x 0 0 #141d3e;
  border-top: 1px solid #abb6cb;
  padding-top: 2px;
}

#top-navigation ul:first-child{
  /*padding-left: 10%;*/
}
ul#main-menu{
  margin-bottom: 0;
  height: 100%;
}
#main-menu li{
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}
#main-menu li:hover{
  background-color: #ffffff;
}
#main-menu li:hover > ul
{
  display: inline;
}
#main-menu li a{
  color:#fff;
  width: 100%;
  height: 100%;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  font-size: 0.9em;
}
#main-menu li:hover a{
  color:#333;
  text-decoration: none;
}

#main-menu .second-level{
  position: absolute;
  /*top: px;*/
  left: -10%;
  z-index: 1;
  width: 120%;
  list-style: none;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  display: none;
  background: url('img/main_bottom_background.jpg') repeat-x 0 100% #fdfdfd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #dadada;
  border-top: none;
}

#main-menu .second-level > li
{
    text-align: center;
    position: relative;
    /*height: 30px;*/
    border-radius: 0;
    padding-bottom: 5px;
    border-top: 1px solid #f0f0f0;
}
#main-menu .second-level > li:first-child{
 border-top: none; 
}
#main-menu .second-level > li:hover { background: #c5c5c5; }

#small_icon_menu{

}

#small_icon_menu a{
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px 15px 0px 15px;
  margin: 0;
}
#small_icon_menu a:hover{
  text-decoration: none;
}

#small_icon_menu li{
  margin: 0;
  padding: 0;
  background: url('img/small_icon_menu_sprite.png') no-repeat 50% 0;
}
#small_icon_menu li.home {
  background-position: 50% 7px;
}

#small_icon_menu li.letter {
  background-position: 50% -15px;
}

#small_icon_menu li.sitemap {
  background-position: 50% -34px;
}
#bottom-banner{
  margin-top: 10px;
  text-align: center;
  height: 122px;
  border-radius: 5px;
  border: 1px solid #d4d5d7;
  overflow: hidden;
  background-color: gray; 
}
#bottom-banner img {
  width: 100%;
}

#bottom-navigation{
  padding-top: 15px;
  height: 45px;
  background: url('img/main_bottom_background.jpg') repeat-x 0 100%;
}
#bottom-navigation ul{
}
#bottom-navigation a{
  color:#333;
  text-transform: uppercase;
  font-size: 80%;
}
#featured-list{
  background: url('img/featured-list_background.jpg') repeat-x 0 100%;
  background-color: #f5f5f5;
  position: relative;
  height: 280px;
  padding: 5px;
  margin: 10px;
  margin-top: 0px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow: hidden;
}
#featured-list ul{
  list-style: none; 
  padding: 0;
}

ul#featured-content{
  width: 40%;
}

#featured-content li{
  height: 90px;
  overflow: hidden;
  font-size: 90%;
  padding: 10px 10px 0 10px;
  border-top: 1px solid #51658d;
}
#featured-content li:first-child{
  border: none;
}

#featured-content li.current{
/*  padding-right: 9px;
  border-right: 1px dashed #51658d;*/
  background: url('img/featured-content_hover_background.png') no-repeat 100% 50%;
}


#featured-content li h3{
  font-size: 100%;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

#featured-content li p{
  margin: 0;
  line-height: 12px;
  height: 25px;
  overflow: hidden;
}

ul#featured-images{
  margin-left: 15px;
  padding-top: 15px;
  width: 56%;
  height: 255px;
  overflow: hidden;
}

ul#featured-images img {
  width: 100%;
}

ul#icons-menu{
  list-style: none;
  margin-top: 30px;
  padding-left: 0;
}

#icons-menu li{
  border-bottom: 1px solid #51658d;
  height: 60px;
  background: url('img/icons_menu_sprite.png') no-repeat;
}
#icons-menu li.building{
  background-position: 50% 0;
}
#icons-menu li.engineering{
  background-position: 50% -75px;
}
#icons-menu li.survey{
  background-position: 50% -170px;
}
#icons-menu li.audit{
  background-position: 50% -260px;
}
#icons-menu li a{
  height: 100%;
  padding-top: 40px;
  display: block;
  text-transform: lowercase;
  color: #333;
}

footer{
  height: 188px;
  margin: 0 auto;
  color: #fff;
  min-width: 995px;
  max-width: 1260px;
  background-color: transparent;
  padding-top: 35px;
  font-size: 90%;
}

footer h4{
  margin-top: 0;
  text-transform: uppercase;
  font-size: 120%;
}

footer a{
  color:#ccc;
}
footer a:hover{
  color:#eee;
}

#footer-contact-info span{
  color: gray;
}