body{
  background-color: #313d54;
}

/*owerwrite Bootstrap style for .row remove margins*/
.row {
margin-right: auto;
margin-left: auto;
}
#wrap, footer{
  width: 950px;
  margin: 0 auto;
  background-color: #ffffff;
}
#sidebar-left{
}

#main article{

}


header{
  background-color: #fdfdfd;
}
nav{
  background-color: #141d3e;
}

nav ul:first-child{
  padding-left: 10%;
}

#featured-list{
  background: url();
  background-color: #f5f5f5;
  height: 300px;
  padding: 5px;
  margin: 10px;
  margin-top: 0px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}